.login-wrapper{
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    padding-block: 30px;
    padding-inline: clamp(0.625rem, -0.1563rem + 2.5vw, 1.25rem);
    background: var(--contrast);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login > h2{
    font-size: 30px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 30px;
}

.login > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.login > div > label{
    opacity: 0.7;
}

.login > div > input{
    font-size: 20px;
    padding: 5px 10px;
}

.login > button{
    font-size: 20px;
    padding: 5px 10px;
    background: var(--black);
    color: var(--white);
    border: none;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}