
:root{
  --width: 20%;
}

.menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: grey;
  z-index: 19;
}

.menu > a{
  position: absolute;
  top: 0;
  right: 0;
  color: var(--black);
  font-size: clamp(1.4375rem, 0.8906rem + 1.75vw, 1.875rem);
  aspect-ratio: 1 / 1;
  border-bottom: 2px solid var(--black);
  border-left: 2px solid var(--black);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem;
}

.menu:has(a:hover) a:not(:hover){
  filter: blur(10px);
}

.menu > a:nth-child(1){
  width: var(--width);
  z-index: 3;
}

.menu > a:nth-child(2){
  width: calc(var(--width) * 1.5);
  z-index: 2;
}

.menu > a:nth-child(3){
  width: calc(var(--width) * 2);
}


@media (max-width: 1024px) {
  :root{
    --width: 30%;
  }
}

@media (max-width: 768px) {
  :root{
    --width: 40%;
  }
}

@media (max-width: 450px) {
  :root{
    --width: 45%;
  }

  .menu > a{
    aspect-ratio: 1 / 1.7;
  }
}