.product-details{
    width: 100%;
    background: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

.container{
    height: 80vh;
    width: 50%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img{
    width: auto;
}

.details > div{
    display: grid;
    gap: 10px;
    padding-inline-start: clamp(0rem, -3.9063rem + 12.5vw, 3.125rem);
    padding-inline-end: clamp(0rem, -3.9063rem + 12.5vw, 6.250rem);
}

.details > div > p{
    font-size: clamp(1.125rem, 0.1875rem + 3vw, 1.875rem);
}

.details > div > .name{
    font-weight: 600;
    color: var(--black);
    font-size: clamp(1.375rem, 0.4375rem + 3vw, 2.125rem);
}

@media (max-width: 830px){
    .product-details{
        height: auto;
        flex-direction: column;
    }

    .container{
        width: 100%;
        padding-inline: 5px;
    }

    .details{
        height: auto;
    }

    .image > img{
        width: 100%;
    }
}

@media (max-width: 500px){
    .image{
        height: 60vh;
    }
}